/* PAGE LAYOUT */
.row {
  margin: 0 auto;
  width: 1000px;
  padding-bottom: 5px;
}
.letters {
  margin: 0 auto;
}
.guesses {
  width: 590px;
  height: 45px;
  font-size: 2em;
  color: red;
  font-family: sans-serif;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  margin: 0 auto;
  padding: 5px 0 0 10px;
}

/* BOX FOR LETTERS IN HIDDEN WORD */
.letter {
  vertical-align: top;
  text-align: center;
  height: 50px;
  width: 40px;
  background-color: #d3d3d3;
  margin: 2px;
  display: inline-block;
  font-family: sans-serif;
  color: black;
  font-size: 2.5em;
  padding: 8px;
  border: 2px solid black;
}

/* BOX FOR SPACES IN WORD */
.space {
  vertical-align: top;
  height: 50px;
  width: 40px;
  background-color: white;
  margin: 2px;
  display: inline-block;
  padding: 8px;
  border: 2px solid white;
}

/* BUTTONS */
.buttons {
  margin: 0 auto;
  width: 600px;
}
button {
  font-weight: 600;
  color: black;
  background: #d3d3d3;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  color: black;
  font-weight: 600;
  background: white;
  border: 1px solid black;
}

/* HANGMAN AREA */
.game-space {
  margin: 0 auto;
  height: 450px;
  width: 600px;
  background-color: #d3d3d3;
  border: 3px solid black;
}

/* WELCOME TEXT */
.welcome {
  color: black;
  margin: 0 auto;
  padding-left: 95px;
}

/* GAME OVER TEXT */
.winner {
  color: green;
  margin: 0 auto;
  padding-left: 150px;
}

.loser {
  color: red;
  margin: 0 auto;
  padding-left: 100px;
}

/* HANGMAN STRUCTURE */
#pole {
  height: 400px;
  width: 10px;
  background-color: black;
  position: relative;
  top: 20px;
  left: 130px;
}
#base {
  height: 10px;
  width: 100px;
  background-color: black;
  position: relative;
  top: 420px;
  left: 85px;
}
#support {
  height: 10px;
  width: 300px;
  background-color: black;
  position: relative;
  top: -380px;
  left: 130px;
}
#noose {
  height: 60px;
  width: 10px;
  background-color: black;
  position: relative;
  top: -380px;
  left: 420px;
}

/* HANGMAN BODY */
#head {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  position: relative;
  top: -385px;
  left: 390px;
}

#torso {
  height: 100px;
  width: 5px;
  background-color: black;
  position: relative;
  top: -385px;
  left: 422px;
}

#left-arm {
  height: 5px;
  width: 60px;
  background-color: black;
  position: relative;
  top: -465px;
  left: 365px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

#right-arm {
  height: 5px;
  width: 60px;
  background-color: black;
  position: relative;
  top: -470px;
  left: 425px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

#left-leg {
  height: 75px;
  width: 5px;
  background-color: black;
  position: relative;
  top: -410px;
  left: 395px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#right-leg {
  height: 75px;
  width: 5px;
  background-color: black;
  position: relative;
  top: -485px;
  left: 449px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
